*, *:before, *:after {
  box-sizing: border-box;
}


body {
	background-color:#F7F7F7;
	color: #494949;
	font-size: 16px;
	font-family: sans-serif;
}
nav {
  margin: 0 0 20px 0;
  background-color: #7E08D2;
  padding: 15px;
  position: fixed;
  width: 100%;
}


h1 {
	color: #ffffff;
	text-align: center;
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
	padding: 10px;
}

.fa-arrow-left {
	width: 15%;
}

.fa-arrow-left, .station, .fa-bars {
	color: white;
	display: inline-block;
}
.fa-bars {
	float:right;
	margin-top: 5px;
}


.Bus {
	font-size: 1.5em;
	font-weight: bold;
	width: 15%;
}

.content {
	padding-top: 50px;;
}

.Direction {
	margin-top: 10px;
}

.Bus, .Destination, .Frequency {
	display: inline-block;
}

.Destination {
	margin-left: 20px;
}
.Frequency {
	font-weight: bold;
	float: right;
	margin-top: 7px;
}

.route:hover {background-color: #aaa;}

.route {
	padding: 10px;
	border: solid #AAAAAA .5px;
}


@media screen and (min-width: 575px) {
	.route {
		display: inline-block;
		width: 46%;
		margin: 1%;
		}