*, *:before, *:after {
  box-sizing: border-box;
}


body {
	background-color:#F7F7F7;
	color: #494949;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}


nav {
  margin: 0 auto;
  background-color: #5D1DAF;
  padding: 40px 15px 15px 15px;
  position: fixed;
  text-align: center;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}


h1 {
	color: #ffffff;
	font-size: 1.3em;
}

.arrow {
	color: #494949;
	float: right;
	font-size: 1.3em;
	position: relative;
	top: -12px;
}

.bus {
	font-weight: bold;
	font-size: 1.8em;
	float: left;
	width: 17%;
	padding-top: 7px;
}

.bus, .frequency, .fa-angle-right {
	display: inline-block;
}

.content {
	padding-top: 75px;
	margin-bottom: 55px;
	
}

.destination, .direction {
	width: 50%;
	display: inline-block;
	line-height: 1.3;
	float: left;
}

.next-bus, .frequency {
	display: inline-block;
}

.direction {
	font-style: italic;
}

.frequency {
	width: 28%;
	line-height: 1.5;
}

.fa-arrow-left {
	float: left;
}

.fa-arrow-left, h1, .fa-bars {
	color: white;
	display: inline-block;
}

.fa-bars {
	float:right;
	margin-top: 4px;
}


.bottom-navbar {
	width: 100%;
	text-align: center;
	background-color: black;
	position: fixed;
	bottom: 0;
}

.route {
	background-color: #F9F9F9;
	padding: 15px;
	border-bottom: solid #AAAAAA .5px;
	height: 70px;
}

.next-bus {
	font-size: 1.2em;
	font-weight: bold;
	width: 25%;
}

.out-of-service {
	color: red;
}

.reroute {
	color: #FF8A42;
}

.status-bar {
	z-index: 2;
	position: fixed;
 	top: 0;
	width: 100%;
	text-align: right;
	background-color: rgba(0, 0, 0, .4);
}

.route:hover {
	background-color: #aaa;
}

@media screen and (min-width: 575px) {
	.route {
		display: inline-block;
		width: 46%;
		margin: 0 1% 0 1%;
		
		}
	.status-bar, .bottom-navbar {
		display: none;
		}
	
	nav {
		padding: 15px;
		}
	.content {
		padding-top: 50px;
		}
}	


