*, *:before, *:after {
  box-sizing: border-box;
}


body {
	background-color:#F7F7F7;
	color: #494949;
	font-size: 16px;
	font-family: sans-serif;
}
nav {
  margin: 0 0 20px 0;
  background-color: #7E08D2;
  padding: 15px;
  position: fixed;
  width: 100%;
}


h1 {
	color: #ffffff;
	text-align: center;
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
	padding: 10px;
}

.Bus {
	font-size: 1.5em;
	font-weight: bold;
	width: 15%;
}

.content {
	padding-top: 50px;;
}


.Bus, .Destination, .Frequency {
	display: inline-block;
	align-content: space-between;
}

.Destination {
	margin-left: 20px;
}
.Frequency {
	font-weight: bold;
	float: right;
	margin-top: 7px;
}

.hamburger-menu span {
	background: #7E08D2;
	width: 40px;
	height: 5px;
	display: block;
	margin-bottom: 2px;
}

.route {
	padding: 10px;
	border: solid #AAAAAA .5px;
}